::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    opacity: 0;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: snow;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}